* {
  font-family: "Roboto",arial,sans-serif;
}

body {
    margin: 0px;
    background-color: #212121;
}

main {
    margin: 20px;
}

.navbar {
    display: flex;
    background-color: #212121;
    overflow: hidden;
    padding: 6px;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-self: center;
  justify-content: left;
  padding-left: 15px;
  height: 100%;
}

.navbar-right {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  height: 100%;
}

.icons {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px 7px;
  gap: 5px;
}

.navbar a {
  color: #fff;
  padding: 5px;
  margin: 0px 5px;
  text-decoration: none;
  font-size: 17px;
  align-content: center;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .app a:hover {
    background-color: white;
}

.navbar .app a{
  height: 40px;
}

.user {
  display: flex;
}

.user img {
  border-radius: 50%;
}

h1 {
    color: white;
    text-align: center;
}